<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Normal_Behaviour_Modeling/blob/main/CNN1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading

In [129]:
# multivariate data preparation
from numpy import array
from numpy import hstack
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

# split a multivariate sequence into samples
def split_sequences(sequences, n_steps):
	X, y = list(), list()
	for i in range(len(sequences)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the dataset
		if end_ix > len(sequences):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

In [116]:
#@title Select Dataset New { display-mode: "form" }
turbine = 'T01' #@param ["T01", "T02","T03","T22","T34","T54"]
path = '/content/drive/MyDrive/IIoT - Wind Turbine/FYP/Dataset/Merged/' + turbine + '.csv'
df = pd.read_csv(path)
df['Date_Time'] = pd.to_datetime(df['Date_Time'], format="%Y-%m-%d %H:%M:%S")
df = df.set_index(df['Date_Time'])

In [117]:
#@title Window size { display-mode: "form" }
n_steps = 5 #@param {type:"slider", min:2, max:6, step:1}

In [118]:
df1 = df[:'2017-03-19 05:10:00']
df2 = df['2017-04-13 16:10:00':"2017-05-31 00:00:00"]
df3 = df["2017-06-01 00:00:00":"2017-07-20 02:50:00"]
df4 = df['2017-07-21 08:10:00':'2017-08-14 05:20:00']
df5 = df['2018-01-15 12:00:00':"2018-02-10 23:50:00"]
df6 = df['2018-02-13 00:00:00':'2018-04-21 06:40:00']
df7 = df['2018-05-01 10:10:00':"2018-05-31 00:00:00"]
df8 = df['2018-06-01 00:00:00':'2018-08-14 06:50:00']
df9 = df['2018-08-21 07:00:00':]

# Training

In [119]:
df1.drop("Date_Time", axis='columns', inplace=True)
df1.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df1.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df1 = df1[cols]
df1 = df1.to_numpy()

# convert into input/output
X1, y1 = split_sequences(df1, n_steps)
print(X1.shape, y1.shape)

(11116, 5, 12) (11116,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [120]:
df2.drop("Date_Time", axis='columns', inplace=True)
df2.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df2.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df2 = df2[cols]
df2 = df2.to_numpy()

# convert into input/output
X2, y2 = split_sequences(df2, n_steps)
print(X2.shape, y2.shape)

(6812, 5, 12) (6812,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
df3.drop("Date_Time", axis='columns', inplace=True)
df3.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df3.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df3 = df3[cols]
df3 = df3.to_numpy()

# convert into input/output
X3, y3 = split_sequences(df3, n_steps)
print(X3.shape, y3.shape)

(7047, 5, 12) (7047,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [122]:
df4.drop("Date_Time", axis='columns', inplace=True)
df4.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df4.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df4 = df4[cols]
df4 = df4.to_numpy()

# convert into input/output
X4, y4 = split_sequences(df4, n_steps)
print(X4.shape, y4.shape)

(3425, 5, 12) (3425,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [123]:
df5.drop("Date_Time", axis='columns', inplace=True)
df5.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df5.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df5 = df5[cols]
df5 = df5.to_numpy()

# convert into input/output
X5, y5 = split_sequences(df5, n_steps)
print(X5.shape, y5.shape)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(3812, 5, 12) (3812,)

In [124]:
df6.drop("Date_Time", axis='columns', inplace=True)
df6.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df6.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df6 = df6[cols]
df6 = df6.to_numpy()

# convert into input/output
X6, y6 = split_sequences(df6, n_steps)
print(X6.shape, y6.shape)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(9662, 5, 12) (9662,)

In [ ]:
df7.drop("Date_Time", axis='columns', inplace=True)
df7.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df7.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df7 = df7[cols]
df7 = df7.to_numpy()

# convert into input/output
X7, y7 = split_sequences(df7, n_steps)
print(X7.shape, y7.shape)

In [133]:
# Concatenating datasets
X_train = np.concatenate((X1,X2,X3,X4,X5,X6,X7))
y_train = np.concatenate((y1,y2,y3,y4,y5,y6,y7))

In [134]:
n_features = X_train.shape[2]

# define model
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(n_steps, n_features)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

# fit model
model.fit(X_train, y_train, epochs=1000, verbose=0)

# Testing

In [135]:
df8.drop("Date_Time", axis='columns', inplace=True)
df8.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df8.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df8 = df8[cols]
df8 = df8.to_numpy()

# convert into input/output
X8, y8 = split_sequences(df8, n_steps)
print(X8.shape, y8.shape)

(10689, 5, 12) (10689,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [136]:
df9.drop("Date_Time", axis='columns', inplace=True)
df9.drop('Possible_Active_Power', axis='columns', inplace=True)
cols = df9.columns.tolist()
cols = cols[:5] + cols[6:] + [cols[5]]
df9 = df9[cols]
df9 = df9.to_numpy()

# convert into input/output
X9, y9 = split_sequences(df9, n_steps)
print(X9.shape, y9.shape)

(18559, 5, 12) (18559,)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
# Concatenating datasets
X_train = np.concatenate((X8,X9))
y_train = np.concatenate((y8,y9))

In [138]:
# demonstrate prediction
yhat = model.predict(X_test, verbose=0)
print(yhat,y_test)

[[1455.9427 ]
 [1026.8528 ]
 [1077.9958 ]
 ...
 [ 981.05914]
 [1357.0085 ]
 [1411.3514 ]] [1068.4  894.7  776.6 ...  902.4 1450.4 1223.9]

In [139]:
yhat = yhat.reshape(yhat.shape[0],)

In [140]:
df_final=pd.DataFrame({'y_hat':yhat,'y_test':y_test})

In [141]:
df_final['difference'] = df_final['y_hat']-df_final['y_test']

In [144]:
df_final["abs_difference"] = abs(df_final['y_hat']-df_final['y_test'])

In [143]:
df_final["difference"].mean()

17.211344332342794

In [145]:
df_final["abs_difference"].mean()

69.46230861352761

In [146]:
df_final

             y_hat  y_test  difference  abs_difference
0      1455.942749  1068.4  387.542749      387.542749
1      1026.852783   894.7  132.152783      132.152783
2      1077.995850   776.6  301.395850      301.395850
3       990.594299   842.0  148.594299      148.594299
4       455.374817   529.0  -73.625183       73.625183
...            ...     ...         ...             ...
18554   990.318970   876.4  113.918970      113.918970
18555   769.492615   763.1    6.392615        6.392615
18556   981.059143   902.4   78.659143       78.659143
18557  1357.008545  1450.4  -93.391455       93.391455
18558  1411.351440  1223.9  187.451440      187.451440

[18559 rows x 4 columns]

In [148]:
df_final.to_csv('drive/MyDrive/DatasetsWind/df_final.csv', index=False)